#navigation {
  background: #3AAED8;
  position: relative;
  width: 100%;
  padding-top: 1.5em;
  font-size: 18px;
  color: white;
  overflow: auto;
}

#navigation nav {
  max-width: 1200px;
  margin: 0 auto;
}

#navigation ul {
  float: right;
  margin-right: 60px;
}

#navigation ul li {
  display: inline-block;
  margin-left: 35px;
}

#navigation a {
  color: white;
  text-decoration: none;
}