<template name="footer">
  <div id="footer-wrapper">
    <footer>
      <ul>
        <li>
          <a href="http://stackoverflow.com/users/1681809/sircharleswatson" target="_blank">
            <img src="/stackoverflow_logo.png" />
          </a>
        </li>
        <li>
          <a href="http://github.com/sircharleswatson" target="_blank">
            <img id="github" src="/github_logo.png" />
          </a>
        </li>
        <li>
          <a href="http://twitter.com/sircharlesw727" target="_blank">
            <img src="/twitter_logo.png" />
          </a>
        </li>
      </ul>
      <a class="button" href="mailto:sircharleswatson@gmail.com">Send Me An Email</a>
    </footer>
  </div>
</template>